@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --font-family: "Inter", system-ui, sans-serif;
    --color-primary: theme('colors.primary', #000);
    --color-accent: theme('colors.accent', #000);
    --color-neutral: theme('colors.neutral', #000);

    font-family: var(--font-family);
  }
}

/* Example of nesting */
.card {
  @apply bg-white rounded-lg shadow;

  & .card-title {
    @apply text-xl font-bold;
  }
}
